<h2>Subscribe for Updates</h2>
<p>Enter your email to subscribe for updates and information on new releases!</p>

<%= form_tag('/mcsubscribe/subscribe', method: "post", id: "mcsubscribe", remote: "true") do -%>
  <%= email_field(:email, :address, {id: "email", placeholder: "Email"}) %>
  <%= submit_tag "Subscribe" %>
<% end %>
<div id="response">Response will be displayed here</div>